.patient-view {
    /* min-height: 80vh; */
    /* padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    line-height: 1.3; */
}

.btn-outline-secondary {
    /* color: #000;
    border-color: #000;
    background-color: lightgray; */
}

.next-button {
    /* width: 30%;
    align-self: center;
    color: #000000 !important;
    margin-top: 1rem; */
}

.bg-lightgreen{
    background-color:var(--color-light-green);
}
.translate-middle {
    transform: translate(-50%,-50%)!important;
}
.start-0 {
    left: 0!important;
}

.start-100 {
    left: 100%!important;
}

.top-50 {
    top: 50%!important;
}

.continue-icon-bg, .exit-icon-bg{
    width:64px;
    height:64px;
    background-color: white;
    border-radius: 50%;
}

.continue-icon-bg{
    border: 2px solid var(--color-light-green);
}

.continue-icon path {
    fill: var(--color-light-green) !important;
}

.exit-icon-bg{
    border: 2px solid var(--color-dark-gray);

}

.exit-icon path {
    fill: var(--color-dark-gray) !important;
}

.card-btn:hover{
    cursor: pointer;
    background-color: var(--color-dark-green) !important;
}

 
.card-btn:hover .continue-icon path {
    fill:  var(--color-dark-green) !important;
}

.card-btn:hover .continue-icon-bg{
    border: 2px solid var(--color-dark-green) !important;
}