html {
    --color-dark-green: #398169;
    --color-light-green: #52b997;
    --color-dark-gray: #5d666d;
    --color-light-gray:#8d9398;
}

h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
}

.app-logo {
    /* height: 40vmin; */
    pointer-events: none;
}

.app-header {
    height: 60px;
}
.app-header .mypain-header-logo {
    height: 100%;
}

.continue-button {
    /* background-color: rgba(var(--color-dark), .10) !important;
    border-color: var(--color-dark) !important;
    font-size: calc(4px + 2vmin);
    color: rgba(var(--color-dark), 1) !important;
    margin-bottom: 20px; */
}

.options {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.app .options, .app .options button {
    /* margin: 5px; */
}

.response-container {
    /* max-width: 100%;
    word-break: break-all; */
}

.hidden {
    display: none;
}